#display {
  display:block;
  font-family: sans-serif;
  width:230px;
  height:40px;
  margin:10px auto;
  text-align: right;
  border:0;
  background:#3b3535;
  color:#fff;
  padding-top:20px;
  padding-right: 10px;
  font-size:20px;
  margin-left: 25px;
  outline: none;
  overflow: hidden;
  letter-spacing: 4px;
  position: relative;
  top:20px;
}

#display:hover {
  cursor: text;
}
